<h2>注册</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <div class="item">
    <label class="labe w100">邮箱</label><br/>
    <%= f.email_field :email, autofocus: true%><br/>
  </div>

  <div class="item">
    <label class="labe w100">密码</label><br/>
    <%= f.password_field :password, autocomplete: "off" %><br/>
  </div>

  <div class="item">
    <label class="labe w100">确认密码</label><br/>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="item">
    <%= f.submit "立即注册", class: 'btn_submit' %>
  </div>
<% end %>

<%#= render "devise/shared/links" %>

<div class="gayline"></div>

<p class="register">已经注册
<%- if controller_name != 'sessions' %>
  <%= link_to "立即登录", new_session_path(resource_name) %><br />
<% end -%>
</p>
